@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
body {
  display: flex;
  background: #23487d;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
  font-family: "Mukta", sans-serif;
}

.containerUtama {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  background-color: #d3f350;
  border-radius: 30px;
  padding: 1rem;
  margin: 2rem 0;
}

.sidebarSatu,
.sidebarDua {
  width: 20%;
  padding: 2rem;
}

.sidebarSatu {
  padding-right: 0;
  order: 2;
}
.sidebarSatu a {
  text-decoration: none;
  color: #23487d;
}
.sidebarDua {
  order: 3;
}

.main-content {
  width: 60%;
  padding: 2rem;
  order: 2;
}
