body {
  display: flex;
  background: gray;
  justify-content: center;
  align-items: center;
  background-repeat: repeat;
}

.containerUtama {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  background-color: white;
  border-radius: 30px;
  padding: 1rem;
  margin: 2rem 0;
}

.sidebarSatu,
.sidebarDua {
  width: 20%;
  padding: 2rem;
}

.sidebarSatu {
  padding-right: 0;
  order: 2;
}

.sidebarDua {
  order: 3;
}

.main-content {
  width: 60%;
  padding: 2rem;
  order: 2;
}
