#flip {
  cursor: pointer;
}
.tableBody {
  background-color: transparent !important;
  color: white !important;
}
.click {
  border-radius: 20px;
}
#flip {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
